/* html{
    font-size: 20px;
} */
/* header{
    
 display: none;
}

section{
   
    height: 100vh;
    margin: 0px 0px 0px 0px !important;
}
.home{
    height: 100%;
}
.gallatry{
    height: 100%;
}
.gallary .col{
    flex-direction: column;
} */