@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: var(--con-w) 0 0 0 0;
            box-shadow: var(--con-w) 0 0 0 0;
  }
  75% {
    -webkit-box-shadow: #00000000 0 0 0  25px;
            box-shadow: #00000000 0 0 0  25px;
  }
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: var(--con-w) 0 0 0 0;
            box-shadow: var(--con-w) 0 0 0 0;
  }
  75% {
    -webkit-box-shadow: #00000000 0 0 0  25px;
            box-shadow: #00000000 0 0 0  25px;
  }
}

@-webkit-keyframes animate2 {
  0%,
  30% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes animate2 {
  0%,
  30% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes animate1 {
  0% {
    opacity: 100%;
  }
  70%,
  100% {
    opacity: 0%;
  }
}

@keyframes animate1 {
  0% {
    opacity: 100%;
  }
  70%,
  100% {
    opacity: 0%;
  }
}

:root {
  --fblue-red:#3071E7;
  --dblue-white:#161E35;
  --f-while-black:#ffffff;
  --f-fwhite-gray:#E5E5E5;
  --f-blue-red:#3071E7;
  --font-2:#ffffff;
  --font-1:#a6b2ec;
  --font-3:#d5d5d5;
  --con-w:#fff;
  --alpha:#ffffff22;
  --rev:#DA0037;
}

.red-theme {
  --fblue-red:#DA0037;
  --dblue-white:#E5E5E5;
  --f-while-black:#000000;
  --f-fwhite-gray:#444444;
  --f-blue-red:#DA0037;
  --alpha:#0000004d;
  --rev:#74a1f6;
  --font-2:#da0037;
  --font-1:#ff2c60;
  --font-3:#444444;
}

* {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Century Gothic", "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dblue-white);
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body ::-moz-selection {
  background-color: var(--fblue-red);
  color: var(--dblue-white);
}

body ::selection {
  background-color: var(--fblue-red);
  color: var(--dblue-white);
}

body::-webkit-scrollbar {
  display: none;
}

.fix {
  height: 100vh;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
}

.fix .nav {
  height: 100%;
  width: 15%;
  background-color: var(--dblue-white);
}

.fix .nav .active {
  background-color: var(--fblue-red);
}

.fix .nav .active i {
  color: var(--con-w);
}

.fix ul {
  height: 100%;
  list-style: none;
}

.fix ul li {
  padding: 30% 0%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.052);
  color: var(--f-while-black);
  margin: 1px;
  cursor: pointer;
  font-size: 1.2rem;
}

.fix ul li i {
  font-size: 2rem;
  color: var(--fblue-red);
}

.fix ul li:hover {
  background-color: var(--fblue-red);
  color: var(--con-w);
}

.fix ul li:hover i {
  color: var(--con-w);
}

.fix ul #theme:hover {
  background-color: var(--rev);
}

.fix .menu {
  height: 100%;
  width: 85%;
  background-color: var(--fblue-red);
}

.fix .menu .re {
  display: none;
}

.fix .menu .h-4 {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fix .menu .h-4 img {
  width: 45%;
  border-radius: 50%;
  border: 5px solid var(--fblue-red);
  -webkit-animation: pulse 1500ms infinite;
          animation: pulse 1500ms infinite;
}

.fix .menu .h-6 {
  text-align: center;
}

.fix .menu .h-6 h2 {
  color: #f5f5f5f5;
  font-size: 4rem;
  margin: 5px 0px 7px;
  text-align: center;
}

.fix .menu .h-6 h4 {
  color: #bbbbbb;
  margin: 7px 0px;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

.fix .menu .h-6 .social-icon {
  padding: 10px;
  height: 25px;
  text-align: center;
  margin-top: 10px;
}

.fix .menu .h-6 .social-icon a i {
  font-size: 1.5rem;
  margin: 0px 7px;
  color: var(--con-w);
}

.fix .menu .h-6 .social-icon span {
  font-size: 2rem;
  cursor: pointer;
  color: var(--rev);
}

.main-body {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--dblue-white);
}

.main-body::before {
  content: "";
  width: 54%;
}

.main-body .content-change {
  height: 100%;
  width: 100%;
}

/* ^^^^^^^^^^^^^^ Home Start ^^^^^^^^^^^^^^ */
.home {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .up {
  height: 10%;
  width: 100%;
  text-align: center;
}

.home .up h2 {
  font-size: 6rem;
  color: var(--font-2);
}

.home .dn {
  height: 7%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home span {
  font-size: 2rem;
  color: var(--f-while-black);
}

#span-1 {
  position: absolute;
  -webkit-animation: animate1 6s ease-in forwards alternate infinite;
          animation: animate1 6s ease-in forwards alternate infinite;
}

#span-2 {
  position: absolute;
  -webkit-animation: animate2 6s ease-in forwards alternate infinite;
          animation: animate2 6s ease-in forwards alternate infinite;
}

/* ^^^^^^^^^^^^^^ Home End ^^^^^^^^^^^^^^ */
.float {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 3.5rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--f-blue-red);
  cursor: pointer;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.float span {
  font-size: 1.5rem;
  margin: 5px 0px;
}

.float span:hover {
  color: #15ff00;
}

/* ^^^^^^^^^^^^^^ About Start ^^^^^^^^^^^^^^ */
.about {
  width: 100%;
  height: auto;
  padding: 5%;
  color: var(--f-fwhite-gray);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 3%;
}

.title {
  width: 100%;
  height: 100%;
}

.title h2 {
  font-size: 2.5rem;
  font-family: Helvetica, sans-serif;
}

.title span {
  color: var(--f-blue-red);
}

.row {
  height: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1%;
  font-size: 1.5rem;
}

.row .column {
  background-color: var(--alpha);
  color: var(--f-while-black);
  padding: 5%;
  border-radius: 25px;
}

.row .column ul {
  list-style: none;
}

.row .column ul li :nth-child(1) {
  color: var(--f-blue-red);
  font-family: Helvetica, sans-serif;
}

.row .column ul li :nth-child(2) {
  color: var(--f-fwhite-gray);
}

/* ^^^^^^^^^^^^^^ About End ^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^ Gallary Start ^^^^^^^^^^^^^^ */
.gallary {
  width: 100%;
  height: auto;
  padding: 5%;
  color: var(--f-fwhite-gray);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 3%;
}

.gallary .row {
  -ms-grid-columns: (30%)[auto-fit] !important;
      grid-template-columns: repeat(auto-fit, 30%) !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
}

.gallary .row .column h1 {
  display: none;
}

.gallary .row .column:hover h1 {
  display: inline;
}

.gallary .row .column:hover {
  background-color: var(--alpha);
}

.gallary img {
  width: 100%;
  border-radius: 20px;
}

/* ^^^^^^^^^^^^^^ Gallary End ^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^ Social Start ^^^^^^^^^^^^^^ */
.social {
  height: 100%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .box {
  width: 80%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--alpha);
  border-radius: 20px;
}

.social .box .col {
  width: 30%;
  height: 90%;
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .box .col .row {
  text-align: center;
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--f-blue-red);
}

.social .box .col .row a {
  font-size: 10rem;
  color: var(--fblue-red);
}

.social .box .col .row span {
  font-size: 2rem;
  color: var(--fblue-red);
  font-weight: 600;
}

.social .box .col .row:hover .fa-instagram {
  color: var(--fblue-red);
}

.social .box .col .row:hover .fa-facebook-f {
  color: #161E35;
}

.social .box .col .row:hover .fa-snapchat {
  color: yellow;
}

/* ^^^^^^^^^^^^^^ Social End ^^^^^^^^^^^^^^ */
.toggle {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: var(--dblue-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
}

.toggle::before {
  content: "";
  width: 80%;
  height: 15%;
  background-color: var(--fblue-red);
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle.active::before {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.toggle::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 15%;
  background-color: var(--fblue-red);
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle.active::after {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

@media (max-width: 800px) {
  .fix {
    -webkit-transform: translateX(150rem);
            transform: translateX(150rem);
  }
  .fix .menu {
    width: 100%;
  }
  .fix .menu .h-4 {
    height: 45%;
  }
  .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-body {
    position: relative;
  }
  .main-body::before {
    display: none;
  }
  .row {
    display: inline;
  }
  .column {
    margin: 2%;
  }
  .fix-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .fix-active .nav {
    width: 20%;
  }
  .fix-active .home {
    display: none;
  }
  .social .row .column .sc i {
    font-size: 5rem;
    color: var(--fblue-red);
    margin: 5%;
  }
  .social .row .column span {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .social {
    width: 100%;
    height: 100vh;
  }
  .social .box {
    width: 90%;
    height: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social .box .col {
    width: 100%;
    height: 27%;
  }
  .social .box .col .row {
    height: 30%;
  }
  .social .box .col .row a {
    font-size: 9rem;
  }
  .social .box .col .row span {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */